html, body{
    height: 100%
}


.annot-highlighted {
    border: 1px solid #ff0000;
}


#annotationView ul {
    padding-left: 10px;
}

#annotationView ul li {
    margin-bottom: 10px;
}

#annotationView ul li textarea {
    vertical-align: middle;
}

#annotationView ul li a {
    vertical-align: middle;
    right: 0;
    position: absolute;
}


#downloadMenuDiv {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
}


.menu ul { display: none; } /* Hide before plugin loads */
.menu ul.dropit-submenu {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    padding: 6px 0;
    margin: 3px 0 0 1px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}          
.menu ul.dropit-submenu a {
    display: block;
    font-size: 14px;
    line-height: 25px;
    color: #7a868e;
    padding: 0 18px;
}
.menu ul.dropit-submenu a:hover {
    background: #248fc1;
    color: #fff;
    text-decoration: none;
}
.btn {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #F5F5F5;
  background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
  border-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin: 0 10px 0 0;
  padding: 4px 12px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}
.btn a, .btn a:visited {
  color: #0088CC;
  text-decoration: none;
  transition: all 0.2s linear 0s;
}




#pagingToolbar {
    display: table;
}

#pagingToolbar .pageNumber {
    display:table-cell;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align:center;
}

#pagingToolbar .button {
    float:none;
    display:table-cell;
    vertical-align: middle;
}

.annotationDiv {
    clear:both;
    position: relative;
}

.buttonSmall {
    margin:0;
    padding:0;
}

.buttonSmall span.buttonSmall {
    margin:0;
    padding:0;
}